.bg-img{
    background-image: url('../Assets/imgs/asadal_stock_61.webp');
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.tab-icons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    z-index: 0;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-shadow: 0 1px 2px black;
}

.icon p {
    margin: 5px 0 0 0;
    text-align: center;
}

.icon img {
    width: 40px;
    height: 40px;
}

.icon:hover {
    filter: brightness(1.2);
}

.responsive-banner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(#DFFFA5 0%,#ACDB6B 48%,#7AB53E 74%, #7ad336 100%);
    box-shadow: 0px 0px 15px #819c58;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor:default;
    font-size: 12px;
}

@media (max-width: 1000px) {
  .responsive-banner {
    display: block;
  }
}

.ok-button{
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    margin-left: 5px;
    color: rgb(1, 99, 255);
    font-weight:bold;
    border: none;
    outline: none;
    border-radius: 4px;
    background: white;
}


