.bg-img{
    background-image: url('../Assets/imgs/asadal_stock_61.webp');
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.tab-icons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    text-shadow: 0 1px 2px black;
}

.icon p {
    margin: 5px 0 0 0;
    text-align: center;
}

.icon img {
    width: 40px;
    height: 40px;
}


.icon:hover {
    filter: brightness(1.2);
}