.right-content.folder{
    justify-content: center;
    align-items: center;
    width: 55vw;
}

.right-content.maximized.folder{
    width: 80vw;
}


li{
    list-style: none;
    margin: 10px 20px 10px 20px;
}

.folder-container{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 10px;
}


.folder-list{
    margin: 0;
    padding: 0;
    display: flex;
}

.folder-list img{
    width: 40px;
    height: 40px;
}

.folder-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}