.play-btn{
    width: 30px;
    height: 30px;
}

.song-list{
    cursor: pointer;
    color: #4C749C
}

.song-list p:hover{
    text-decoration: underline;
}

.media-player-ui{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.progress-bar{
    width: 95%;
    height: 5px;
    border-radius: 6px;
    margin-bottom: 6px;
    appearance: none;
    background: #d4d9dd;
}

input[type=range]::-webkit-slider-thumb{
    appearance: none;
    width: 13px;
    height: 6px;
    border-radius: 6px;
    border: 1px solid #000091;
    background: linear-gradient(180deg, #004C91 50%,#48D3EF 100%);
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border-radius: 6px;
  background: linear-gradient(
    to right,
    #004C91 50%,
    #48D3EF var(--progress, 100%)
  );
}
