.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
    overflow: visible;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 4px 8px #190e6929;
    transform-origin: center center;
    margin: 5px;
}

.developer{
    font-size: 26px;
    color: #293f65;
    margin: 0;
}

.dev-title{
    font-size: 16px;
    font-weight: bold;
    color: #2D743C;
    margin: 0;
}

.icon-links img{
    margin-top: 5px;
    height: 35px;
    width: 36px;
    display: flex;
}

.icon-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.left-content.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.right-content.profile{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-container{
    margin: 30px;
}

.inner-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}

.left-inner-content, .right-inner-content{
    flex: 1;
    width: auto;
    height: auto;
    border: 1px solid #ccc;
    max-width: 100%;
    max-height: 100%;
}

.about{
    font-size: 14px;
    color: #4C4C4C;
    text-align: justify;
    margin: 15px;
    line-height: 1.5;
}

.dev-title:hover, .developer:hover {
  background: linear-gradient(90deg, #008cff, #66ff00, #00ffff, #ff9100);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
  text-align: left !important;
  text-shadow: 0 0 10px #fff, 0 0 20px #0ff;
}

@keyframes shine {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}
