.title-bar{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    padding-right:20px;
    top: 0;
    right: 0;
    background-color: transparent;
    justify-content: space-between;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-top-container:active{
    cursor: grabbing;
}

.draggable-window.minimized{
    background-color: #74A5D0 !important;
    width: 300px !important;
    height: 40px !important;
    box-shadow: 0 4px 8px #2a293230 !important;
    justify-content: flex-start;
}

.window-content.minimized {
    display: none;
}

.main-top-container{
    width: 100%;
    cursor: grab;
    padding: 0;
}

.divider{
    color: #4C749C;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 2px;
    font-size: 15px;
}

.nav-buttons img:hover{
    filter: brightness(1.1);
}
.nav-buttons{
    height: 20px;
    gap: 5px;
    display: flex;
    margin-right: 5px;
    align-items: center;
}

.back-button, .forward-button{
    width: 25px;
    height: 25px;
    cursor: pointer;
    justify-content: center;
    
    cursor: not-allowed;
}

.down-button{
    width: 8px;
    height: 5px;
    cursor: pointer;
    justify-content: center;
    
}

.controls{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    margin-left:auto;
    margin-top: 5px;
    margin-bottom: none;
    max-width: 113px;
}

.controls button {
    border: 1px solid #4C749C;
    width: 30PX;
    height: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 2vh;
    
}

.window-title {
    font-size: 10px;
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 50%;
    transform: translateX(-50%)
}

.minimize {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #CCE8FF, #D8ECF9);
}

.maximize {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(90deg, #CCE8FF, #D8ECF9);
}

.exit {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #c84c4c, #ea7474);

}

.draggable-window {
    -webkit-user-drag: none;
    user-select: none;  
    background:  linear-gradient(90deg, rgba(204, 232, 255, 0.75), rgba(216, 236, 249, 0.75));
    width: 60vw;
    border-radius: 6px;
    position: absolute;
    border: 0.5px solid #A6C3D9;
    box-shadow: 0 4px 8px #2a293230;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    padding:0;
    max-width: 99.9vw;
    max-height: 99.5vh;
    box-sizing: border-box;
}

.title-bar-container{
    display: flex;
    width: 100%;
    padding: 5px 0px;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
    flex:1;
}

.top-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 7px;
}

.tab-buttons{
    display: flex;
    color: #4C749C;
    cursor: pointer;
    font-size: 14px;
}

.tab-buttons img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
}


.tab-buttons:hover{
    filter: brightness(1.2);
}

.wmp-button, .profile-button{
    display: flex;
    flex-direction: row;
    align-items:center;
}


.light-button{
    margin-left:20px;
    margin-top:10vh;
    margin: 5px;
    width:20px;
    height:20px;
    position: relative;
    cursor: pointer;
}

.light-button:hover{
    filter: brightness(1.1);
}

.dark-button{
    margin-left:20px;
    margin-top: 5;
    margin: 5px;
    width:20px;
    height:20px;
    position: relative;
    cursor: pointer;
}

.dark-button:hover{
    filter: brightness(1.2);
}

.window.title{
    font-size: 16px;
    font-weight: bold;
    color: #4C749C;
}

.search-bar, .path-bar{
    display: flex;
    background: #DDEFFB;
    border: solid #74A5D0;
    border-radius: 6px;
    height: 30px;
    cursor: pointer;
    flex-grow: 1;
}


.search-bar{
    flex-grow: 2;
    margin-left: 2px;
}

.path-bar{
    flex-grow: 3;
    margin-right: 2px;
}

.search-bar, .path-bar{
    align-items: center;
}

.search, .chevron{
    width: 17px;
}

.path-bar img, .search-bar img{
    margin-left: 5px;
    cursor: not-allowed;
}

.window-content{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    background: linear-gradient(#CFFDFF 4%,#AEDDFA 15%,#E9F7F8 25%, #BFE8FE 85%, #94CAE2 100%);
    flex: 1;
    margin: auto;
    overflow: hidden;
    width: 95.5%;
    height: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.inner-parent-container{
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
    position: relative;
    overflow: hidden;
    min-height: 0;
}

.left-content::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.left-content::-webkit-scrollbar-track {
    background: none;
    border-radius: 6px;
}

.left-content::-webkit-scrollbar-thumb {
    background:  linear-gradient( rgba(84, 131, 168, 0.562), rgba(142, 170, 188, 0.54));
    border-radius: 6px;
}

.left-content::-webkit-scrollbar-thumb:hover {
    background: #79adbb;
}

.left-content{
    display: flex;
    flex: 1;
    padding: 5px 30px;
    overflow-y: auto;
    border: 1px solid #74A5D0;
}

.left-content.maximized{
    overflow: hidden !important;
}

.bottom-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 80px;
    background:  linear-gradient( rgba(237, 247, 255, 0.352), rgba(189, 209, 222, 0.275));
    text-align: center;
    box-sizing: border-box;
}

.right-content{
    width: 450px;
    background: white;
    border: 1px solid #74A5D0;
    overflow-y: auto;
}

.right-content::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.right-content::-webkit-scrollbar-track {
    background: none;
    border-radius: 6px;
}

.right-content::-webkit-scrollbar-thumb {
    background:  linear-gradient( rgba(84, 131, 168, 0.562), rgba(142, 170, 188, 0.54));
    border-radius: 6px;
}

.right-content::-webkit-scrollbar-thumb:hover {
    background: #79adbb;
}
